.user-list-table tbody>tr .long-text-container {
    max-width: 120px;
    white-space: nowrap;
    overflow: auto;
}

.info-long-text{
    max-width: fit-content;
}
  
.add-product-btn{
    color: #333;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: #333 solid 2px;
    width: 13rem;
    float: right;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.add-product-btn:hover{
    color: var(--primary-light-brown);
    border: var(--primary-light-brown) solid 2px;
    transition: .2s;
}

.modal-add{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .25);
}

.modal-visible {
    display: flex;
}

.modal-hidden {
    display: none;
}

.modal-container{
    width: 50%;
    min-height: 25rem;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 10px;
}

.modal-header{
    width: 80%;
    height: 4rem;
    margin: 1rem auto;
    /* margin-bottom: -2rem; */
    background-color: var(--primary-dark-brown);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.modal-header h3{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 5px;
}

.modal-content{
    width: 95%;
    min-height: 15rem;
    margin: 1rem auto;
    padding: 4rem 1rem;
    border-radius: 10px;
    background-color: var(--primary-light-beige);

}

.modal-input-area{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.modal-input-area input,
.modal-input-area select{
    width: 90%;
    height: 2.5rem;
    padding: 0 .8rem;
    margin: 0 auto;
    border-radius: 10px;
    border: .6px solid #999;
    margin-bottom: .7rem;
    font-size: .879rem;
}

.access-modal-button{
    float: right;
    margin-right: 5rem;
}

.submit-modal-btn {
  background: #FBCA1F;
  font-family: inherit;
  width: 5rem;
  height: 2.5rem;
  font-weight: 900;
  font-size: 1rem;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
}

.submit-modal-btn:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.submit-modal-btn:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.cancel-modal-button{
    float: left;
    margin-left: 5rem;
}

.modal-cancel{
    width: 6rem;
    background: #fb1f1f !important;
}

.upload-product-img{
    width: 90%;
    margin: 0 auto 1rem auto;
}

.default-img img{
    width: 8rem;
    height: 11rem;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    margin-right: 1rem;
}

.pro-img-list img{
    border-radius: 5px !important;
}