/* about */
.about-homepage{
    background-color: #fff;
}
.container-default{
    padding-top: 200px;
    padding-bottom: 200px;
    position: relative;
}

.container-grid{
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 90px;
    grid-row-gap: 90px;
    grid-template-rows: auto;
    grid-template-columns: 1fr .8fr;
    align-content: center;
    align-items: center;
    justify-items: center;
}
.text-container{
    min-width: 600px;
    padding-left: 22px;
    padding-right: 22px;
    position: absolute;
    top: 30%;
    left: 0%;
    right: 0%;
}

.container-grid::before,
.container-grid::after{
    content: " ";
    grid-area: 1/1/2/2;
    display: table;
}

.container-grid::after{
    clear: both;
}

.about-container{
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}

.title-about,
.content-about{
    color:var(--primary-dark-brown);
}

.title-about{
    letter-spacing: .05em;
    background-color: transparent;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 36px;
    font-weight: 800;
}

.content-about{
    margin-bottom: 48px;
    line-height: 2.1rem;
    font-size: 20px;
}

.title-wrapper{
    align-items: center;
    line-height: .2em;
    display: flex;
}

.btn-read-more{
    color: var(--primary-dark-brown);
    letter-spacing: .12em;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-right: 0.5rem;
    font-family: Gotham,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.3em;
}

.btn-link{
    cursor: pointer;
    flex-direction: column;
    align-items: flex-end;
    display: flex;
    overflow: hidden;
}

.btn-link:hover .title-wrapper .btn-read-more{
    color: var(--primary-dark-beige);
}

.img-3-left-grid{
    width: 55%;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1.8fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.about-img-33{
    height: 80%;
    max-height: 600px;
    width: 100%;
    margin-left: 8px;
    object-fit: cover;
    border-radius: 8px;
}

.about-img{
    height: 275px;
    object-fit: cover;
    border-radius: 8px;
}

/* end about */
/* preview category */
.preview-homepage{
    background: url(../../../../public/assets/images/background_img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heading-title{
    color: var(--primary-dark-brown);
    text-align: center;
    letter-spacing: .05em;
    margin-bottom: 15px;
    font-size: 4em;
    font-weight: 800;
    line-height: 1;
    position: static;
}
.main-container{
    width: 100%;
    height: auto;
    max-width: 95vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
}

.describe-content{
    margin-bottom: 5rem;
}

.content-paragraph{
    color: var(--primary-dark-brown);
    text-align: center;
}

.home-cat-link{
    max-width: 100%;
    display: inline-block;
    text-decoration: none;
    grid-area: span 1/span 1/span 1/span 1;
}

.menu-cat-wrap{
    width: auto;
    height: auto;
    max-height: 600px;
    -webkit-text-fill-color: inherit;
    background-clip: border-box;
    border-radius: 8px;
    text-decoration: none;
}

.cat-img-container{
    height: 300px;
    max-height: 500px;
    margin-bottom: 2rem;
    overflow: hidden;
}

.cat-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.cat-name{
    margin-bottom: 1rem;
}

.cat-name-item, 
.title-arrow{
    color: var(--primary-dark-brown);
    font-weight: 700;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.content-paragraph,
.cat-name-item{
    font-size: 1.2rem;
}

.home-cat-link:hover .cat-name-item{
    color: var(--primary-dark-beige);
}


/* end preview category */

/* news */
.news-homepage{
    background-color: #fff;
    flex-direction: column;
    align-items: stretch;
    display: flex;
}

.news-wrap{

}

.img-wrap{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    margin-bottom: 1rem;
}

.title-name-type{

}

.title-wrap{
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    font-size: 1rem;
    display: flex;
}

.title-arrow{
    text-transform: uppercase;
    font-family: Gotham,sans-serif;
    font-weight: 400;
    margin-right: .4rem;
}

.title-icon{
}

.news-title{
    color: var(--primary-dark-brown);
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 500;
}

/* end news */