.signUp-form-main {
    width: 30rem;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-dark-beige);
    padding: 30px 30px 30px 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
}

.blankPage{
    height: 100%;
}

.blank{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('../../../public/assets/images/background_img.png');
}

.signUp-heading {
    font-size: 2.5em;
    color: var(--primary-dark-brown);
    font-weight: 700;
    margin: 15px 0 30px 0;
}

.signUp-input-contain {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signUp-input-icon {
    position: absolute;
    left: 10px;
    color: #333;
}

.signUp-input-field {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--primary-dark-brown);
    border-radius: 30px;
    margin: 10px 0;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 30px;
}

.signUp-input-field:focus {
    outline: none;
    border-bottom: 2px solid var(--primary-light-beige);
}

.signUp-input-field::placeholder {
    color: rgb(80, 80, 80);
    font-size: 1em;
    font-weight: 500;
}

#signUp-button {
    position: relative;
    width: 100%;
    border: 2px solid var(--primary-dark-brown);
    background-color: var(--primary-dark-brown);
    height: 40px;
    color: white;
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 30px;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
    }

#signUp-button::after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.253);
    height: 100%;
    width: 150px;
    top: 0;
    left: -200px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    filter: blur(10px);
    transition-duration: .5s;
}

#signUp-button:hover::after {
    transform: translateX(600px);
    transition-duration: .5s;
}

.signUp-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.signUp-container a {
    font-size: .9rem;
    font-weight: 500;
    color: black;
}
  
.signUp-container a:hover{
    color: #eee;
}  
