.content-profile-area{
    padding: 1rem;
}

.profile-img-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.profile-img{
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.change-user-info,
.change-user-ava{
  margin-top: 5px;
  text-align: center;
  width: 120px;
}

.change-info-btn,
.change-ava-btn{
  font-size: 1.1rem;
  color: #fff;
  background: #9d9b9b;
  padding: 6px 17px;
  border-radius: 3px;
  border: none;
}

.change-info-btn{
  font-size: .9rem;
}

.change-ava-btn:hover,
.change-info-btn:hover{
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
}

.logout{
    margin-right: 2rem;
}

.logout-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

.logout-sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-sign svg {
  width: 17px;
}

.logout-sign svg path {
  fill: white;
}

.logout-text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}

.logout-btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.logout-btn:hover .logout-sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}

.logout-btn:hover .logout-text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.logout-btn:active {
  transform: translate(2px ,2px);
}

.user-info-contain{

}

.welcome-user{
  margin-bottom: 2rem;
}

.welcome-user p{
  color: #555;
  font-size: 1rem;
}

.welcome-user>h3{
  color: var(--primary-dark-brown);
  font-weight: 600;
}

.user-info{

}

.user-info-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px var(--primary-dark-brown);
}

.user-info-detail span{
  color: #555;
}

.user-info-title h3{
  color: var(--primary-dark-brown);
  font-weight: 600;
  line-height: 2.5rem;
  padding: 0 .5rem;
}

.user-info-detail{
  margin-top: 1rem;
  width: 100%;
}

.user-info-detail span{
  float: left;
  width: 100%;
  display: inline;
  margin-bottom: 7px;
  font-size: 1rem;
}

.change-ava-area{
  display: flex;
  align-items: center;

}

.upload-file-container{
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  border: #000 solid 1px;
  min-width: 8rem;
  height: 2.2rem;
  margin-right: 1rem;
}

.upload-file-container label{
  line-height: 2.2rem;
  text-align: center;
  color: #000;
}

.upload-icon{
  font-size: 1.3rem;
  margin-bottom: -.3rem;
}

input[type='file']{
  position: absolute;
  opacity: 0;
  width: 8rem;
  height: 2.2rem;
  top: 0;
  left: 0;
  z-index: 1111;
}

.cancel-mod{
  background-color: #ff4141;
  margin-left: 1rem;
}